
body {
    background-color: black;
    font-family: comic-sans;
    color: white;
}

{ -color:; font: sans; color white; : all0.s ease}

keyframes-text { 0%,100%letter-spacing normal;} 50%letter-spacing 1;} }

Loader styles.loader { : px solidfff; -top:16px blue; -radius:50%; : px; : px; : spin2s infinite; @key spin { 0% transform:(0); } 100% transform:(360); } }



